footer {
	margin: 0 auto;
	padding: 30px;
	background: $resultColour;
	h4 {
		font-family: 'Poppins', sans-serif; 
		text-transform: capitalize;
		font-weight: 400;
		letter-spacing: 1.4px;
		margin: 0;
		text-align: center;
		color: #fff;
	}
}

a#widget {
	margin: 100px;
}



