$headingFont: 'Poppins', sans-serif;
$headerColour: rgb(0, 195, 255);
$movieColour: rgb(255, 209, 115);
$iconsColour: rgb(253, 82, 25);
$activitiesColour: rgb(62, 129, 200);
$dessertsColour: rgb(123, 204, 41);
$resultColour: rgb(184, 116, 196);